<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.officehub.officehubserver.OfficeHubServer.repository.LoginMapper">
    <select id="getLogin" parameterType="Hashmap" resultType="Login">
        select * from login where user_id = #{user_Id} and password = #{Password}
    </select>
    <insert id="addLogin" parameterType="AddAccount">
        insert into login (employee_id, user_id, password) VALUES (#{employee_Id}, #{user_Id}, #{password});
    </insert>
    <select id="checkAccount" parameterType="int" resultType="AddAccount">
    	select * from login where employee_id = #{employee_Id}
    </select>
</mapper>