<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.officehub.officehubserver.OfficeHubServer.repository.LoginMapper">
    <select id="getLogin" parameterType="hashmap" resultType="Login">
        select * from login where userId = #{userId} and password = #{Password}
    </select>
    <select id="addLogin" parameterType="hashmap" resultType="Login">
        insert into login (employeeId, userId, password) VALUES ('2', #{userId}, #{Password});
    </select>
</mapper>