<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.officehub.officehubserver.OfficeHubServer.repository.NoticeMapper">
    <select id="getNoticeById" parameterType="int" resultType="notice">
        select * from notice where noticeId = #{noticeId}
    </select>
    <select id="getNoticeList" parameterType="hashmap" resultType="notice">
        select * from notice order by noticeId desc limit #{offset}, #{size}
    </select>
    <insert id="insertNotice" parameterType="notice">
        insert into notice (writerId, title, content, writtenDay) values (#{writerId}, #{title}, #{content}, #{writtenDay})
    </insert>
    <update id="updateNotice" parameterType="notice">
        update notice set title=#{title}, content=#{content} where noticeId=#{noticeId}
    </update>
    <delete id="deleteNotice" parameterType="int">
        delete from notice where noticeId=#{noticeId}
    </delete>
    <select id="getCountOfNotices" resultType="int">
        select count(noticeId) from notice
    </select>
</mapper>